body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  background: #111;
  border-radius: 12px;
  box-shadow: 0 0 12px #00ffcc;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #222;
  color: #fff;
  font-size: 15px;
}

textarea {
  height: 120px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #00bfa5;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #00a38f;
}