body {
  margin:0; padding:0;
  background-image: url('bg.jpg');
  font-family:Arial, sans-serif;
}
header {
  text-align:center;
  padding:2rem 1rem;
  backdrop-filter: blur;
  background: #F7F7F70A;
  box-shadow:0 2px 8px rgba(0,0,0,0.5);
}
header h1 {
  margin:0; font-size:2rem;
  color:#2A9D8FC7;
  text-shadow:0 0 5px #2a9d8f;
}
header h2 {
  margin:0.5rem 0;
  color:#bbb;
  font-size:1rem;
}

.cards {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(280px,1fr));
  gap:1.5rem;
  padding:2rem;
}

.bot-card {
  background: #C4C4C452;
  backdrop-filter: blur;
  border-radius:8px;
  border: 2px solid #10C7A5;
  padding:1rem;
  box-shadow:0 2px 10px rgba(21, 205, 141, 0.79);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.card-header {
 text-align: center;
  font-size:1.2rem;
  font-weight:bold;
  color:#8BC8C1;
  text-shadow: 0 0 15px #0CBBA5;
  margin-bottom:0.5rem;
}
.repo-link {
  margin-left:0.5rem;
  font-size:0.9rem;
  color:#2a9d8f;
  text-decoration:none;
}
.repo-link:hover {
  text-decoration:underline;
}

.bot-card p {
  color:#bbb;
}

.buttons {
  margin-top:1rem;
  display: grid;
  gap: 1rem;
}

.buttons a{
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(135deg, #2BC58A7D, #14497D61);
  padding:0.6rem 0.8rem;
  text-align:center;
  color: white ;
  border: 1px solid #0CF0C1;
  border-radius: 5px;
  font-weight:bold;
  font-size: 0.9rem;
  text-decoration:none;
  transition:background 0.2s;
  box-shadow: 0 0 10px #31AE94;
}
.buttons a:hover {
  background:rgba(42,157,143,1);
}

#musicToggle {
  position: fixed;
  bottom:1rem; left:1rem;
  background:rgba(255,255,255,0.15);
  color:#fff;
  border: 2px solid #08C08061;
  padding:0.6rem 1rem;
  border-radius: 20px;
  font-size:1rem;
  cursor:pointer;
  box-shadow:0 0 8px rgba(0, 235, 132, 0.5);
  transition:background 0.2s, box-shadow 0.2s;
  display:flex;
  align-items:center;
  gap:0.5rem;
}
#musicToggle:hover {
  border: 2px solid #0CF0C1;
  box-shadow:0 0 10px #0CF078A;
}
b{
  font-family: 'Courier New', Courier, monospace;
  text-align:center ;
  color: #E3E3E3A6;
  text-shadow: 0 0 5px #26BF6CA6;
}
